[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
